@model Datos.tTR_Categoria

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Categoría</h2>


@using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "EditarCategoria" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.iIdCategoria)

        <div class="form-group">
            <label class="control-label col-md-2">Nombre Categoria</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.vNombreCategoria)
                @*@Html.ValidationMessageFor(model => model.vNombreCategoria)*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Estado</label>
            <div class="col-md-10">
                <label>Activo</label>
                @Html.RadioButtonFor(model => model.iEstado, "1", new { @id = "rbtActivo", Checked = true })
                <label>Inactivo</label>
                @Html.RadioButtonFor(model => model.iEstado, "0", new { @id = "rbtInactivo" })


                @*@Html.ValidationMessageFor(model => model.iEstado)*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnEditar" type="button" value="Grabar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>


@Scripts.Render("~/bundles/jquery")


@Scripts.Render("~/scrp/categorias")




